<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>967341367732-gppm15u69758krutetosp6n2tt4f0bu3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.967341367732-gppm15u69758krutetosp6n2tt4f0bu3</string>
	<key>API_KEY</key>
	<string>AIzaSyArsTLF9EXP8udwEp8OjT5kOPEhMu1yqxc</string>
	<key>GCM_SENDER_ID</key>
	<string>967341367732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>insta-clone-f2e8d</string>
	<key>STORAGE_BUCKET</key>
	<string>insta-clone-f2e8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967341367732:ios:ff79b76abd43cb2a9a92e1</string>
</dict>
</plist>